[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bsvars"]
	path = bsvars
	url = https://github.com/donotdespair/bsvars
	shallow = true
	registered = true
